@import url(~bootstrap/dist/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css?family=Creepster|Montserrat");
html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px; }

#root {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 56px; }
  #root .navbar-brand {
    font-family: 'Creepster';
    font-size: 2em; }
    #root .navbar-brand img {
      height: 50px;
      margin-right: 20px; }
  #root .enter-chat {
    display: block;
    position: relative;
    height: 100%;
    width: 100%; }
  #root .chat {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 20px; }
    #root .chat .users, #root .chat .messages {
      padding: 0px;
      float: left; }
    #root .chat .users .user {
      border-bottom: 1px solid #e9ebee;
      padding: 10px; }
      #root .chat .users .user:last-of-type {
        display: none; }
      #root .chat .users .user .fa-user {
        color: #343a40; }
    #root .chat .messages {
      border-left: 1px solid #e9ebee;
      overflow: auto;
      height: 100%; }
      #root .chat .messages .message {
        padding: 10px;
        display: block;
        min-height: 50px;
        height: auto !important;
        clear: both; }
        #root .chat .messages .message__buttons {
          padding-bottom: 5px; }
          #root .chat .messages .message__buttons a {
            margin: 0px 3px;
            padding-top: 10px;
            cursor: pointer;
            font-size: 10px;
            color: dimgray;
            letter-spacing: 0.05em; }
        #root .chat .messages .message .time {
          font-size: 10px;
          padding-left: 5px;
          padding-right: 5px;
          color: gray; }
        #root .chat .messages .message .username, #root .chat .messages .message .data {
          display: inline-block;
          float: left;
          margin-right: 10px; }
      #root .chat .messages .no-message {
        margin: 10px; }
    #root .chat .chatbox {
      position: fixed;
      bottom: 0px;
      padding: 0px; }
    #root .chat .btn-secondary {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
